{% extends "admin/base_site.html" %}
{% load i18n static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
		<a href="../../">{% trans 'Publications' %}</a> &rsaquo;
		<a href="../">{% trans 'Publications' %}</a> &rsaquo;
		{% trans 'Import BibTex' %}
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<form method="post">
			{% csrf_token %}
			<div>
				{% if errors %}
				<p class="errornote">{% trans 'Please correct the errors below.' %}</p>
				{% endif %}
				<fieldset class="module aligned">
					{{form.as_pq}}
				</fieldset>
				<div class="submit-row">
					<input type="submit" value="{% trans 'Import' %}" class="default" name="_save" />
				</div><br clear="all" />
			</div>
		</form>
	</div>
{% endblock %}
